<!--A list of all the blogs, displaying the blogger's username, the blog title, 
    and the number of likes and dislikes on the blog.-->

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<BlogApp2.Models.BlogModel>
@{
    ViewData["Title"] = "JustBlogs";
}

<h2>Browse all the posts!</h2>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>
    <ul style="list-style-type:none">

        @foreach (var blog in Model)
        {
            <a asp-action="Read" asp-route-id="@blog.BlogEntryID">
                <li style="border: 2px solid green;
                border-radius: 10px;
                background-color: lightgreen;
                margin-bottom: 5px;
                padding: 10px">
                    Posted By: @blog.UserName  <br /><br />
                    Title: @blog.BlogTitle <br /><br />
                </li>
            </a>
            <li>
               Likes: @blog.NumOfLikes  Dislikes: @blog.NumOfDislikes
                <br /><br />
            </li>
        }
    </ul>

</body>
</html>

