<!--A list of blogs beloining to the user logged in. The user can also update or delete any 
    of their blogs with the Update and Delete links below.-->

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<BlogApp2.Models.BlogModel>

@{
    ViewData["Title"] = "My Blogs";
}

<h2>MyBlogs</h2>
<html>
<body>
    <ul style="list-style-type:none">

        @foreach (var blog in Model)
        {
            <a asp-action="Read" asp-route-id="@Html.Encode(blog.BlogEntryID)">
                <li 
                style="border: 2px solid green;
                border-radius: 10px;
                background-color: lightgreen;
                margin-bottom: 20px;
                padding: 30px">
                    
                    @blog.BlogTitle <br /><br />
                    Likes: @blog.NumOfLikes &nbsp; Dislikes: @blog.NumOfDislikes
                </li>
            </a>
            <li>
                <a asp-action="Update" asp-route-id="@Html.Encode(blog.BlogEntryID)">Update</a> |
                <a asp-action="Delete" asp-route-id="@Html.Encode(blog.BlogEntryID)">Delete</a>
                <br /><br />
            </li>
        }
    </ul>

</body>
</html>



