@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<BlogApp2.Models.BlogModel>

@{
    ViewData["Title"] = "MyBlogs";
}

<h2>MyBlogs</h2>
<html>
<body>
    <ul style="list-style-type:none">

        @foreach (var blog in Model)
        {
            <a asp-action="Read" asp-route-id="@blog.BlogEntryID">
                <li style="border: 2px solid green;
                border-radius: 10px;
                background-color: lightgreen;
                margin-bottom: 20px;
                padding: 30px">
                    @blog.BlogTitle <br /><br /> @blog.BlogEntry

                </li>
            </a>
            <td>
                <a asp-action="Update" asp-route-id="@blog.BlogEntryID">Update</a> |
                <a asp-action="Delete" asp-route-id="@blog.BlogEntryID">Delete</a>
            </td>
            <br /><br />
        }
    </ul>

</body>
</html>



