<!--The blog details of the blog clicked on, all of its comments, and a form for any logged in 
    user to post comments with.-->

@model BlogApp2.Models.BlogWithComments
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <h2> @Html.DisplayFor(model => model.Blog.BlogTitle)</h2>
    <textarea readonly rows="15" cols="100"
              style="width:100%;
                height:100%;">  @Html.DisplayFor(model => model.Blog.BlogEntry)
    </textarea><br /><br />
    @{await Html.RenderPartialAsync("AddLikes", Model.Blog);}
    @{await Html.RenderPartialAsync("AddDislikes", Model.Blog);}
    <h3>The Comments For this Post</h3>
    <ul style="list-style-type:none">

        @foreach (var comment in Model.Comments)
        {
            @if (comment.BlogCommentedOnID == Model.BlogID)
            {

                <li>
                    <textarea readonly rows="3" cols="100"
                              style="width:100%;
                                height:100%;"> [Posted By: @comment.UserName] @comment.CommentText
                    </textarea>

                    @if (comment.UserName == Model.UserName)
                    {
                        <a asp-action="DeleteComment" asp-route-id="@Html.Encode(comment.CommentsId)">Delete</a>
                    }
                </li>

            }

        }
    </ul>

</body>
</html>

<form asp-action="Read" asp-controller="Blog" method="post">
    @Html.AntiForgeryToken()
    Comment:<br>
    <input type="hidden" name="BlogID" value="@Html.Encode(Model.BlogID)">
    <textarea maxlength="400" style="width:100%; height:100%;" id="txtArea" rows="3" cols="100" name="CommentText" value=""></textarea>
    <br><br>
    <button type="submit" value="Submit">Submit</button>
</form>



