<!--A form to update and already existig blog.-->

@model BlogApp2.Models.BlogModel

@{
    ViewData["Title"] = "Update";
}

<h2>Update</h2>

<hr />

<form asp-action="Update">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.BlogEntryID" />
    <div class="form-group">
        <label asp-for="@Model.BlogTitle" class="control-label">Title</label>
        <textarea id="txtArea" asp-for="@Model.BlogTitle" minlength="2" maxlength="100" rows="1" cols="100" style="width:100%;
                height:100%;"></textarea>
        <span asp-validation-for="@Model.BlogTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogEntry" class="control-label">Entry</label>
        <textarea id="txtArea" asp-for="@Model.BlogEntry" minlength="10" maxlength="10000" rows="15" cols="100" style="width:100%;
                height:100%;"></textarea>
        <span asp-validation-for="@Model.BlogEntry" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" value="Save">Save</button>
    </div>
</form>

<div>
    <a asp-action="MyBlogs">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}